* {
  box-sizing: border-box;
}

$main-font: Montserrat, sans-serif;
$main-color: #ffffff;
$second-color: #4f4f4f;

body {
  font-family: $main-font;
}

.container {
  max-width: 570px;
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
}

@media (min-width: 1024px) {
  .list__item-remove {
    margin-left: auto;
    border: none;
    background: none;
    cursor: pointer;
    margin-right: -50px;
  }

  .list__item:hover {
    .list__item-remove {
      margin-right: 0px;
    }
  }
}

@media (max-width: 540px) {
  .list {
    top: -65px;

    &__item-text {
      max-width: 285px;
      margin-right: auto;

      &-date {
        margin: 0px;
      }

      &-remove {
        margin: 0px;
      }
    }
  }
}

@media (max-width: 512px) {
  .list {
    top: -65px;

    &__item-text {
      max-width: 255px;
      margin-right: auto;

      &-date {
        margin: 0px;
      }

      &-remove {
        margin: 0px;
      }
    }
  }
}

@media (max-width: 425px) {
  .header {
    padding-top: 55px;
    height: 235px;

    &__title {
      font-size: 41px;
      line-height: 58px;
    }

    &__input {
      height: 45px;
      font-size: 14px;
      line-height: 19px;
      padding-left: 10px;
    }

    .buttons__item {
      font-size: 10px;
      line-height: 14px;
      padding: 1px 0px;
    }
  }

  .list {
    top: -40px;

    &__item {
      font-size: 14px;
      line-height: 19px;
      padding: 7px 10px;

      &-text {
        max-width: 225px;
        margin-right: auto;
      }

      &-date {
        font-size: 11px;
        margin: 0px;
      }

      &-checkbox {
        min-width: 16px;
        height: 16px;
        margin-right: 7px;
      }
    }
  }

  .list__item-remove {
    margin: 0px;
  }

  .list__item-remove svg {
    width: 11px;
    height: 11px;
  }
}

@media (max-width: 414px) {
  .header {
    padding-top: 55px;
    height: 235px;

    &__title {
      font-size: 41px;
      line-height: 58px;
    }

    &__input {
      height: 45px;
      font-size: 16px;
      line-height: 19px;
      padding-left: 10px;
    }

    .buttons__item {
      font-size: 10px;
      line-height: 14px;
      padding: 1px 0px;
    }
  }

  .list {
    top: -40px;

    &__item {
      font-size: 14px;
      line-height: 19px;
      padding: 7px 10px;

      &-text {
        max-width: 220px;
        margin-right: auto;
      }

      &-date {
        font-size: 11px;
        margin: 0px;
      }

      &-checkbox {
        min-width: 16px;
        height: 16px;
        margin-right: 7px;
      }
    }
  }

  .list__item-remove {
    margin: 0px;
  }

  .list__item-remove svg {
    width: 11px;
    height: 11px;
  }
}

@media (max-width: 375px) {
  .header {
    padding-top: 40px;
    height: 235px;

    &__title {
      font-size: 41px;
      line-height: 58px;
    }

    &__input {
      height: 45px;
      font-size: 16px;
      line-height: 19px;
      padding-left: 10px;
    }

    .buttons__item {
      font-size: 10px;
      line-height: 14px;
      padding: 1px 0px;
    }
  }

  .list {
    top: -40px;

    &__item {
      font-size: 14px;
      line-height: 19px;
      padding: 7px 10px;

      &-text {
        max-width: 180px;
        margin-right: auto;
      }

      &-date {
        font-size: 11px;
        margin: 0px;
      }

      &-checkbox {
        min-width: 16px;
        height: 16px;
        margin-right: 7px;
      }
    }
  }

  .list__item-remove {
    margin: 0px;
  }

  .list__item-remove svg {
    width: 11px;
    height: 11px;
  }
}

@media (max-width: 360px) {
  .header {
    padding-top: 40px;
    height: 235px;

    &__title {
      font-size: 41px;
      line-height: 58px;
    }

    &__input {
      height: 45px;
      font-size: 16px;
      line-height: 19px;
      padding-left: 10px;
    }

    .buttons__item {
      font-size: 10px;
      line-height: 14px;
      padding: 1px 0px;
    }
  }

  .list {
    top: -40px;

    &__item {
      font-size: 14px;
      line-height: 19px;
      padding: 7px 10px;

      &-text {
        max-width: 165px;
        margin-right: auto;
      }

      &-date {
        font-size: 11px;
        margin: 0px;
      }

      &-checkbox {
        min-width: 16px;
        height: 16px;
        margin-right: 7px;
      }
    }
  }

  .list__item-remove {
    margin: 0px;
  }

  .list__item-remove svg {
    width: 11px;
    height: 11px;
  }
}

@media (max-width: 320px) {
  .header {
    padding-top: 40px;
    height: 235px;

    &__title {
      font-size: 41px;
      line-height: 58px;
    }

    &__input {
      height: 45px;
      font-size: 16px;
      line-height: 19px;
      padding-left: 10px;
    }

    .buttons__item {
      font-size: 10px;
      line-height: 14px;
      padding: 1px 0px;
    }
  }

  .list {
    top: -40px;

    &__item {
      font-size: 14px;
      line-height: 19px;
      padding: 7px 10px;

      &-text {
        max-width: 120px;
        margin-right: auto;
      }

      &-date {
        font-size: 11px;
        margin: 0px;
      }

      &-checkbox {
        min-width: 16px;
        height: 16px;
        margin-right: 7px;
      }
    }
  }

  .list__item-remove {
    margin: 0px;
  }

  .list__item-remove svg {
    width: 11px;
    height: 11px;
  }
}

@media (max-width: 280px) {
  .header {
    padding-top: 40px;
    height: 235px;

    &__title {
      font-size: 41px;
      line-height: 58px;
    }

    &__input {
      height: 45px;
      font-size: 16px;
      line-height: 19px;
      padding-left: 10px;
    }

    .buttons__item {
      font-size: 10px;
      line-height: 14px;
      padding: 1px 0px;
    }
  }

  .list {
    top: -40px;

    &__item {
      font-size: 14px;
      line-height: 19px;
      padding: 7px 10px;

      &-text {
        max-width: 80px;
        margin-right: auto;
      }

      &-date {
        font-size: 11px;
        margin: 0px;
      }

      &-checkbox {
        min-width: 16px;
        height: 16px;
        margin-right: 7px;
      }
    }
  }

  .list__item-remove {
    margin: 0px;
  }

  .list__item-remove svg {
    width: 11px;
    height: 11px;
  }
}
