* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

.container {
  max-width: 570px;
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
}

.header {
  background-image: url("./images/mountain.png");
  background-color: #b57dff;
  background-size: cover;
  height: 300px;
  padding-top: 60px;
}

.header__title {
  font-weight: bold;
  font-size: 56px;
  line-height: 73px;
  color: #ffffff;
  text-transform: uppercase;
}

.header__input {
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 60px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #4f4f4f;
  padding-left: 24px;
  outline: none;
}

.header .buttons {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.header .buttons__item {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4f4f4f;
  border: none;
  background: #ffffff;
  border-radius: 4px;
  padding: 3px 0px;
  cursor: pointer;
  width: 100%;
}

.header .buttons__item::first-letter {
  text-transform: uppercase;
}

.header .buttons__item:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  background-color: #e5e5e5;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.list {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  top: -65px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
}

.list__item {
  border: 1px solid #eaeaea;
  font-family: Montserrat, sans-serif;
  color: #4f4f4f;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 24px 16px;
}

.list__item:last-child {
  border-radius: 0px 0px 4px 4px;
}

.list__item-text {
  max-width: 320px;
  width: 100%;
  word-wrap: break-word;
}

.list__item-date {
  font-size: 13px;
  margin-left: auto;
  white-space: nowrap;
}

.list__item-checkbox {
  border: 1px solid #c2c2c2;
  border-radius: 50%;
  min-width: 20px;
  height: 20px;
  margin-right: 14px;
}

.list__item--checked .list__item-checkbox {
  background: linear-gradient(124.99deg, rgba(192, 115, 253, 0.47) 6.18%, #9f3294 6.19%, rgba(113, 111, 255, 0.47) 93.82%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__item--checked .list__item-text,
.list__item--checked .list__item-date {
  text-decoration: line-through;
  color: #c2c2c2;
}

.list__item-remove {
  margin-left: auto;
  border: none;
  background: none;
  cursor: pointer;
}

.list__item-remove svg {
  width: 14px;
  height: 14px;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  background: transparent;
  position: relative;
  top: -55px;
}

.block__item {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, color-stop(1.4%, rgba(192, 115, 253, 0.6)), color-stop(101.33%, rgba(113, 111, 255, 0.6)));
  background: linear-gradient(90deg, rgba(192, 115, 253, 0.6) 1.4%, rgba(113, 111, 255, 0.6) 101.33%);
  height: 28px;
  border-radius: 4px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .list__item-remove {
    margin-left: auto;
    border: none;
    background: none;
    cursor: pointer;
    margin-right: -50px;
  }
  .list__item:hover .list__item-remove {
    margin-right: 0px;
  }
}

@media (max-width: 540px) {
  .list {
    top: -65px;
  }
  .list__item-text {
    max-width: 285px;
    margin-right: auto;
  }
  .list__item-text-date {
    margin: 0px;
  }
  .list__item-text-remove {
    margin: 0px;
  }
}

@media (max-width: 512px) {
  .list {
    top: -65px;
  }
  .list__item-text {
    max-width: 255px;
    margin-right: auto;
  }
  .list__item-text-date {
    margin: 0px;
  }
  .list__item-text-remove {
    margin: 0px;
  }
}

@media (max-width: 425px) {
  .header {
    padding-top: 55px;
    height: 235px;
  }
  .header__title {
    font-size: 41px;
    line-height: 58px;
  }
  .header__input {
    height: 45px;
    font-size: 14px;
    line-height: 19px;
    padding-left: 10px;
  }
  .header .buttons__item {
    font-size: 10px;
    line-height: 14px;
    padding: 1px 0px;
  }
  .list {
    top: -40px;
  }
  .list__item {
    font-size: 14px;
    line-height: 19px;
    padding: 7px 10px;
  }
  .list__item-text {
    max-width: 225px;
    margin-right: auto;
  }
  .list__item-date {
    font-size: 11px;
    margin: 0px;
  }
  .list__item-checkbox {
    min-width: 16px;
    height: 16px;
    margin-right: 7px;
  }
  .list__item-remove {
    margin: 0px;
  }
  .list__item-remove svg {
    width: 11px;
    height: 11px;
  }
}

@media (max-width: 414px) {
  .header {
    padding-top: 55px;
    height: 235px;
  }
  .header__title {
    font-size: 41px;
    line-height: 58px;
  }
  .header__input {
    height: 45px;
    font-size: 16px;
    line-height: 19px;
    padding-left: 10px;
  }
  .header .buttons__item {
    font-size: 10px;
    line-height: 14px;
    padding: 1px 0px;
  }
  .list {
    top: -40px;
  }
  .list__item {
    font-size: 14px;
    line-height: 19px;
    padding: 7px 10px;
  }
  .list__item-text {
    max-width: 220px;
    margin-right: auto;
  }
  .list__item-date {
    font-size: 11px;
    margin: 0px;
  }
  .list__item-checkbox {
    min-width: 16px;
    height: 16px;
    margin-right: 7px;
  }
  .list__item-remove {
    margin: 0px;
  }
  .list__item-remove svg {
    width: 11px;
    height: 11px;
  }
}

@media (max-width: 375px) {
  .header {
    padding-top: 40px;
    height: 235px;
  }
  .header__title {
    font-size: 41px;
    line-height: 58px;
  }
  .header__input {
    height: 45px;
    font-size: 16px;
    line-height: 19px;
    padding-left: 10px;
  }
  .header .buttons__item {
    font-size: 10px;
    line-height: 14px;
    padding: 1px 0px;
  }
  .list {
    top: -40px;
  }
  .list__item {
    font-size: 14px;
    line-height: 19px;
    padding: 7px 10px;
  }
  .list__item-text {
    max-width: 180px;
    margin-right: auto;
  }
  .list__item-date {
    font-size: 11px;
    margin: 0px;
  }
  .list__item-checkbox {
    min-width: 16px;
    height: 16px;
    margin-right: 7px;
  }
  .list__item-remove {
    margin: 0px;
  }
  .list__item-remove svg {
    width: 11px;
    height: 11px;
  }
}

@media (max-width: 360px) {
  .header {
    padding-top: 40px;
    height: 235px;
  }
  .header__title {
    font-size: 41px;
    line-height: 58px;
  }
  .header__input {
    height: 45px;
    font-size: 16px;
    line-height: 19px;
    padding-left: 10px;
  }
  .header .buttons__item {
    font-size: 10px;
    line-height: 14px;
    padding: 1px 0px;
  }
  .list {
    top: -40px;
  }
  .list__item {
    font-size: 14px;
    line-height: 19px;
    padding: 7px 10px;
  }
  .list__item-text {
    max-width: 165px;
    margin-right: auto;
  }
  .list__item-date {
    font-size: 11px;
    margin: 0px;
  }
  .list__item-checkbox {
    min-width: 16px;
    height: 16px;
    margin-right: 7px;
  }
  .list__item-remove {
    margin: 0px;
  }
  .list__item-remove svg {
    width: 11px;
    height: 11px;
  }
}

@media (max-width: 320px) {
  .header {
    padding-top: 40px;
    height: 235px;
  }
  .header__title {
    font-size: 41px;
    line-height: 58px;
  }
  .header__input {
    height: 45px;
    font-size: 16px;
    line-height: 19px;
    padding-left: 10px;
  }
  .header .buttons__item {
    font-size: 10px;
    line-height: 14px;
    padding: 1px 0px;
  }
  .list {
    top: -40px;
  }
  .list__item {
    font-size: 14px;
    line-height: 19px;
    padding: 7px 10px;
  }
  .list__item-text {
    max-width: 120px;
    margin-right: auto;
  }
  .list__item-date {
    font-size: 11px;
    margin: 0px;
  }
  .list__item-checkbox {
    min-width: 16px;
    height: 16px;
    margin-right: 7px;
  }
  .list__item-remove {
    margin: 0px;
  }
  .list__item-remove svg {
    width: 11px;
    height: 11px;
  }
}

@media (max-width: 280px) {
  .header {
    padding-top: 40px;
    height: 235px;
  }
  .header__title {
    font-size: 41px;
    line-height: 58px;
  }
  .header__input {
    height: 45px;
    font-size: 16px;
    line-height: 19px;
    padding-left: 10px;
  }
  .header .buttons__item {
    font-size: 10px;
    line-height: 14px;
    padding: 1px 0px;
  }
  .list {
    top: -40px;
  }
  .list__item {
    font-size: 14px;
    line-height: 19px;
    padding: 7px 10px;
  }
  .list__item-text {
    max-width: 80px;
    margin-right: auto;
  }
  .list__item-date {
    font-size: 11px;
    margin: 0px;
  }
  .list__item-checkbox {
    min-width: 16px;
    height: 16px;
    margin-right: 7px;
  }
  .list__item-remove {
    margin: 0px;
  }
  .list__item-remove svg {
    width: 11px;
    height: 11px;
  }
}
/*# sourceMappingURL=styles.css.map */